body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c92a2a;
    /* Red background color */
    color: white;
    padding: 10px;
    height: 60px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo,
.logo-center {
    height: 40px;
    margin-right: 15px;
}

.menu-button {
    font-size: 24px;
    margin-right: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.project-name {
    font-size: 18px;
    font-weight: bold;
}

.clock {
    font-size: 18px;
    margin-right: 15px;
}

.notification-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header-center img {
    height: 50px;
    /* Center logo should be larger */
}