*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
header {
    background-color: #c8382e;
    color: white;
    width: 200%;
    padding: 10px;
    z-index: 1;
    height: 13vh;
}
.nav {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}
.sno {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 30px;
}
.sidebar-button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 0;
    margin-top: 15px;
    margin-right: 50px;
    
}
.picture  {
    border-radius: 0%;
    margin-left: 10px;
    margin-right: 100px;

}
.picture-2 {
    
    margin-left: 50px;
    margin-right: 100px;

}
.picture-3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url(unnamed.png);
    background-position: center;
    background-size: cover;


}
.project-title {
    width: 150px;
    background-color: bisque;
    margin: 20px;
    border-radius: 10px;
}
.title{
    margin: 10px;
    color: black;
    text-align: center;
    font-weight: 500;
}
.time {
    font-size: 24px;
    font-weight: bold;
    color:white;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.bell {
    font-size: 24px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 20px;
}


.container{
    width: 100%;
    min-height: 100%;
    max-width: 300px;
    background: black;
    box-shadow: 0 0 5px rgba(140, 135, 135, 0.3);
    position: absolute;
    z-index: 1;
    transition: 0.3s ease-in-out ;

}
.container .box {
    position: relative;
    height: 100px;
    width: 90;
    margin: 10px;
    border: 2px;
    background-color: #333;
    z-index: -1;
    
}
.dashboard-title{

    text-align: center;
}
#check:checked ~ .container .box p{
    transform: scale(0);
}


.container .box i{
    margin: auto 0;
    font-size: 20px;
    width: 70px;
    text-align: center;
}
.container .box a{
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    text-transform: capitalize; 
    color: grey;
    padding: 5px 8px;
    border-radius: 10px;
    margin-top: 40px;
}

.container .sidebar li{
    width: 100%;
    display: inline-flex;
    margin: 5px 0;
}

.container .sidebar li a{
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    text-transform: capitalize; 
    color: grey;
    padding: 5px 8px;
    border-radius: 10px;
}
.container .sidebar li:hover a{
    background: lightgray;
    color: white;

}
.container .sidebar li a i{
    margin: auto 0;
    font-size: 20px;
    width: 40px;
    text-align: center;
}
.container .sidebar li a p{
    font-size: 20px;
    transform: scale(1);
    transform-origin: left;
    transition: 0.3s;
}
#check:checked ~ .container .sidebar li a p{
    transform: scale(0);
}

.hide {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}
.container label #arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    right: -15px;
    font-size: 25px;
    background: white ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    top: 100px;
    transition: 0.3s;
}
#check:checked ~ .container label #arrow {
    transform: rotate(180deg) ;
}
#check:checked ~ .container {
    max-width:60px  ;
}


